img {
  max-width: 100%;
  height: auto; }

@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px; } }
/* Default browser size is 16px.
:root font-size: 62.5% sets the browser font at 10px.
Then body font-size: 1.6rem sets the font of the body back to 16px
This way any px sizes can be converted to rem by moving the decimal place up one
e.g. 20px becomes 2rem, 24px becomes 2.4rem */
:root {
  font-size: 62.5%; }

@font-face {
  src: url("../fonts/ll-brown-pro/lineto-brown-pro-bold.woff2") format("woff2"), url("../fonts/ll-brown-pro/lineto-brown-pro-bold.woff") format("woff");
  font-family: "BrownPro";
  font-weight: 700; }
@font-face {
  src: url("../fonts/ll-brown-pro/lineto-brown-pro-regular.woff2") format("woff2"), url("../fonts/ll-brown-pro/lineto-brown-pro-regular.woff") format("woff");
  font-family: "BrownPro";
  font-weight: 400; }
@font-face {
  src: url("../fonts/ll-brown-pro/lineto-brown-pro-light.woff2") format("woff2"), url("../fonts/ll-brown-pro/lineto-brown-pro-light.woff") format("woff");
  font-family: "BrownPro";
  font-weight: 300; }
@font-face {
  src: url("../fonts/ll-brown-pro/lineto-brown-pro-thin.woff2") format("woff2"), url("../fonts/ll-brown-pro/lineto-brown-pro-thin.woff") format("woff");
  font-family: "BrownPro";
  font-weight: 100; }
body {
  font-family: "BrownPro";
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0rem; }

h1 {
  font-size: 3.6rem;
  line-height: 4.8rem;
  letter-spacing: -0.129rem;
  font-weight: 400; }
  h1.weight-100 {
    font-weight: 100; }
  h1.weight-300 {
    font-weight: 300; }
  h1.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  h1 {
    font-size: 7.2rem;
    line-height: 7.8rem;
    letter-spacing: -0.18rem; } }
h2 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: -0.1rem;
  font-weight: 400; }
  h2.weight-100 {
    font-weight: 100; }
  h2.weight-300 {
    font-weight: 300; }
  h2.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  h2 {
    font-size: 4.6rem;
    line-height: 6.2rem;
    letter-spacing: -0.12rem; } }
h3 {
  font-size: 2.2rem;
  line-height: 1.8rem;
  letter-spacing: 0;
  font-weight: 400; }
  h3.weight-100 {
    font-weight: 100; }
  h3.weight-300 {
    font-weight: 300; }
  h3.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  h3 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    letter-spacing: -0.129rem; } }
h4 {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0;
  font-weight: 400; }
  h4.weight-100 {
    font-weight: 100; }
  h4.weight-300 {
    font-weight: 300; }
  h4.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  h4 {
    font-size: 2.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.1rem; } }
h5 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  font-weight: 400; }
  h5.weight-100 {
    font-weight: 100; }
  h5.weight-300 {
    font-weight: 300; }
  h5.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  h5 {
    font-size: 1.8rem;
    line-height: 2.8rem; } }
h6 {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0rem;
  font-weight: 400; }
  h6.weight-100 {
    font-weight: 100; }
  h6.weight-300 {
    font-weight: 300; }
  h6.weight-700 {
    font-weight: 700; }

h7 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  font-weight: 400; }
  h7.weight-100 {
    font-weight: 100; }
  h7.weight-300 {
    font-weight: 300; }
  h7.weight-700 {
    font-weight: 700; }

.caps {
  font-size: 1.3rem;
  line-height: 2.8rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0.9rem; }

@media (min-width: 992px) {
  .caps {
    margin-bottom: 2.2rem; } }
p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0rem;
  font-weight: 400; }
  p.weight-100 {
    font-weight: 100; }
  p.weight-300 {
    font-weight: 300; }
  p.weight-700 {
    font-weight: 700; }

@media (min-width: 992px) {
  p {
    font-size: 1.8rem; } }
button,
a.button,
input[type=submit],
.navbar-nav li.button a.nav-link {
  border: none;
  display: inline-block;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 1rem 1.2rem;
  min-width: 158px;
  text-align: center;
  margin-right: 1rem; }
  button:hover,
  a.button:hover,
  input[type=submit]:hover,
  .navbar-nav li.button a.nav-link:hover {
    text-decoration: none; }
  button.min-width-168,
  a.button.min-width-168,
  input[type=submit].min-width-168,
  .navbar-nav li.button a.nav-link.min-width-168 {
    min-width: 168px; }
  button.min-width-208,
  a.button.min-width-208,
  input[type=submit].min-width-208,
  .navbar-nav li.button a.nav-link.min-width-208 {
    min-width: 208px; }
  button.weight-700,
  a.button.weight-700,
  input[type=submit].weight-700,
  .navbar-nav li.button a.nav-link.weight-700 {
    font-weight: 700; }

.navbar-nav li.button a.nav-link {
  min-width: 114px;
  margin-right: 0; }

[class$="__introduction"] {
  padding: 0;
  margin-bottom: 3rem; }
  [class$="__introduction"] h2 {
    padding: 0;
    margin-bottom: 2.5rem; }
  [class$="__introduction"] h5 {
    margin-bottom: 0; }
  [class$="__introduction"] a.button {
    margin-top: 2.4rem; }

@media (min-width: 992px) {
  [class$="__introduction"] {
    margin-bottom: 7.5rem; }
    [class$="__introduction"] h2 {
      margin-bottom: 4rem; }
    [class$="__introduction"] a.button {
      margin-top: 4rem; } }
body {
  color: #69757d; }

h1 {
  color: #2a3a46; }
  h1.blue-1 {
    color: #4a90e2; }
  h1.white {
    color: #ffffff; }

h2 {
  color: #2a3a46; }
  h2.white {
    color: #ffffff; }

h3 {
  color: #2a3a46; }

h4 {
  color: #2a3a46; }
  h4.white {
    color: #ffffff; }
  h4.black-3 {
    color: #69757d; }

h5 {
  color: #2a3a46; }
  h5.white {
    color: #ffffff; }
  h5.black-3 {
    color: #69757d; }

h6 {
  color: #2a3a46; }
  h6.white {
    color: #ffffff; }
  h6.black-3 {
    color: #69757d; }

h7 {
  color: #2a3a46; }

.caps {
  color: #4a90e2; }
  .caps.black-4 {
    color: #b4babe; }
  .caps.white {
    color: #ffffff; }

button,
a.button,
input[type=submit],
.navbar-nav li.button a.nav-link {
  color: #ffffff;
  background-color: #ff5657; }
  button:hover,
  a.button:hover,
  input[type=submit]:hover,
  .navbar-nav li.button a.nav-link:hover {
    color: #ffffff;
    background-color: #ff5657; }

.navbar-nav li.button.white a.nav-link {
  color: #2a3a46;
  background-color: #fafcfe; }
.navbar-nav li.button.blue a.nav-link {
  color: #ffffff;
  background-color: #4a90e2; }

a {
  color: #2a3a46; }
  a:hover {
    color: #2a3a46; }

header {
  position: relative; }
  header nav {
    background-color: #ebf1fa; }
    header nav .menu-wrapper {
      width: 100%; }
  header ul li a {
    font-weight: 700;
    color: #222222; }
    header ul li a .item-name {
      display: inline-block; }
  header ul li ul.dropdown-menu {
    font-size: 1.6rem;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.8rem;
    background-color: transparent;
    margin-top: 0; }
    header ul li ul.dropdown-menu:before, header ul li ul.dropdown-menu:after {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    header ul li ul.dropdown-menu:before {
      border-color: transparent;
      border-bottom-color: #ffffff;
      border-width: 0.8rem;
      margin-left: -3rem; }
  header ul li ul li a:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007"; }
  header ul li ul li a.dropdown-item {
    font-weight: 700;
    color: #222222;
    display: flex;
    align-items: center;
    padding: 1rem;
    white-space: inherit; }
  header ul li ul li a .item-name {
    padding-left: 1.5rem;
    line-height: 1; }
    header ul li ul li a .item-name .desc {
      color: #69757d;
      font-weight: 400;
      line-height: 1;
      padding-top: 0.5rem; }
  header .navbar-toggler {
    width: 100%;
    border: none;
    background: transparent !important; }
    header .navbar-toggler .icon-bar {
      width: 22px;
      transition: all 0.2s;
      display: block;
      height: 2px;
      border-radius: 0.1rem;
      background-color: #222222; }
      header .navbar-toggler .icon-bar.top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%; }
      header .navbar-toggler .icon-bar.middle-bar {
        opacity: 0; }
      header .navbar-toggler .icon-bar.bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%; }
      header .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 0.4rem; }
    header .navbar-toggler.collapsed .icon-bar.top-bar {
      transform: rotate(0); }
    header .navbar-toggler.collapsed .icon-bar.middle-bar {
      opacity: 1; }
    header .navbar-toggler.collapsed .icon-bar.bottom-bar {
      transform: rotate(0); }
    header .navbar-toggler:hover {
      background: transparent !important; }
  header .mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative; }
    header .mobile-header button {
      min-width: auto;
      width: auto;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 0; }
      header .mobile-header button i {
        color: #2a3a46;
        font-size: 2rem; }

@media (min-width: 992px) {
  header nav {
    position: absolute !important;
    width: 100%;
    z-index: 3;
    background-color: transparent; }
    header nav .row {
      width: 100%; }
  header ul li {
    margin-right: 6rem; }
    header ul li ul.dropdown-menu {
      box-shadow: 0 0 30px 0 rgba(51, 91, 130, 0.12), 0 0 50px 0 rgba(10, 31, 68, 0.1);
      padding: 1.4rem 0;
      background-color: #ffffff; }
    header ul li ul li {
      margin-right: 0; }
      header ul li ul li a.dropdown-item {
        white-space: nowrap;
        padding: 1.4rem 3rem; }
    header ul li a.dropdown-toggle:after {
      display: none; }
    header ul li:last-child {
      margin-right: 0; }
  header .ifx-right-menu ul li {
    margin-right: 2.2rem; }
    header .ifx-right-menu ul li:last-child {
      margin-right: 0; } }
@media (max-width: 991px) {
  header ul li ul.dropdown-menu:before, header ul li ul.dropdown-menu:after {
    display: none; }
  header .ifx-right-menu ul.navbar-nav {
    flex-direction: row; }
  header .ifx-right-menu ul li {
    margin-right: 2rem; } }
footer {
  position: relative;
  z-index: 2;
  background-color: #fafcfe;
  padding: 2.4rem 0 1.7rem; }
  footer .row:nth-child(2) {
    padding-top: 2.5rem; }
  footer ul {
    padding: 0;
    margin-bottom: 2.3rem; }
    footer ul li {
      list-style-type: none; }
      footer ul li a {
        color: #69757d; }
        footer ul li a:hover {
          text-decoration: none; }
  footer h5 {
    font-weight: bold;
    margin-bottom: 2.3rem; }
  footer .social {
    display: flex;
    justify-content: flex-end; }
    footer .social .icon {
      width: 4rem;
      text-align: center; }
      footer .social .icon i {
        color: #4a90e2;
        font-size: 2rem; }
        footer .social .icon i:hover {
          color: #69757d; }
  footer .logo {
    margin-bottom: 2.3rem; }

@media (min-width: 992px) {
  footer {
    padding: 6.4rem 0 1.7rem; }
    footer ul {
      margin-bottom: 1rem; }
    footer .row:nth-child(2) {
      padding-top: 5.5rem; }
    footer .social {
      justify-content: flex-start; }
      footer .social .icon {
        text-align: left; }
    footer .logo {
      margin-bottom: 0; } }
.default-background {
  background-image: linear-gradient(15deg, #ffffff 31%, #ebf1fa 96%, #ebf1fa 96%);
  height: 1024px;
  position: absolute;
  z-index: 1;
  width: 100%; }

div#main {
  position: relative; }
  div#main section {
    position: relative;
    z-index: 2; }
    div#main section:first-of-type {
      /*padding-top:1.5rem;*/ }
    div#main section .ifx-row .ifx-row-wrapper {
      padding: 3rem 0;
      background-repeat: no-repeat; }

@media (min-width: 992px) {
  div#main section:first-of-type {
    padding-top: 6rem; }
  div#main section .ifx-row .ifx-row-wrapper {
    padding: 7.5rem 0; } }
.ifx-row-hero h5 {
  color: #69757d; }

.ifx-row-image_text .image-text__introduction {
  margin-bottom: 0; }

.ifx-row-feature_tiles .feature-tiles__introduction h5 {
  color: #69757d; }
  .ifx-row-feature_tiles .feature-tiles__introduction h5 strong {
    color: #4a90e2; }
.ifx-row-feature_tiles .feature-tile {
  box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 0.8rem;
  padding: 2.4rem 1.6rem;
  background-color: #ffffff;
  margin-bottom: 2.4rem; }
  .ifx-row-feature_tiles .feature-tile h6 {
    margin: 0; }
  .ifx-row-feature_tiles .feature-tile h3 {
    margin-bottom: 1rem; }
  .ifx-row-feature_tiles .feature-tile .feature-tile__mobile-image {
    margin-bottom: 2.4rem; }
    .ifx-row-feature_tiles .feature-tile .feature-tile__mobile-image img {
      width: 40px;
      height: 40px;
      border-radius: 0.8rem;
      object-fit: cover; }
  .ifx-row-feature_tiles .feature-tile .feature-tile__desktop-image {
    margin-bottom: 3rem; }
    .ifx-row-feature_tiles .feature-tile .feature-tile__desktop-image img {
      width: 100%;
      max-width: 414px;
      height: auto; }

@media (min-width: 992px) {
  .ifx-row-feature_tiles .feature-tile {
    padding: 4.8rem 8.8rem;
    text-align: center; } }
@media (min-width: 768px) {
  .ifx-row-feature_tiles .col-12:nth-child(even) .feature-tile {
    position: relative;
    bottom: 30rem; }
  .ifx-row-feature_tiles .background-shape {
    background-color: #fafcfe;
    position: absolute;
    width: 60%;
    min-height: 90%;
    max-height: 3000px; } }
@media (max-width: 767px) {
  .ifx-row-feature_tiles .col-12:last-child .feature-tile {
    margin-bottom: 0; } }
.ifx-row-html .html__wrapper {
  border-radius: 1rem;
  box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  background-color: #ffffff;
  padding: 0.7rem 1.6rem; }

.ifx-row-logo_gallery .logo-gallery__wrapper {
  border-radius: 1rem;
  box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  background-color: #ffffff;
  padding: 0.7rem 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .ifx-row-logo_gallery .logo-gallery__wrapper .logo-gallery__single {
    padding: 1rem;
    text-align: center;
    width: 50%; }
    .ifx-row-logo_gallery .logo-gallery__wrapper .logo-gallery__single img {
      max-width: 160px;
      width: 100%; }

@media (min-width: 768px) {
  .ifx-row-logo_gallery .logo-gallery__wrapper .logo-gallery__single {
    width: 33.33%; } }
@media (min-width: 1200px) {
  .ifx-row-logo_gallery .logo-gallery__wrapper .logo-gallery__single {
    width: 16.666%; } }
.ifx-row-icon_text .icon-text__wrapper {
  display: flex;
  flex-wrap: wrap; }
  .ifx-row-icon_text .icon-text__wrapper .icon-text__single {
    padding-right: 0;
    margin-top: 2rem; }
    .ifx-row-icon_text .icon-text__wrapper .icon-text__single:first-child {
      margin-top: 0; }
    .ifx-row-icon_text .icon-text__wrapper .icon-text__single .icon-text__single__icon img {
      width: 50px;
      height: 50px;
      object-fit: contain; }
    .ifx-row-icon_text .icon-text__wrapper .icon-text__single .icon-text__single__heading h4 {
      margin-bottom: 1.5rem; }

@media (min-width: 1200px) {
  .ifx-row-icon_text .icon-text__wrapper {
    flex-wrap: nowrap; }
    .ifx-row-icon_text .icon-text__wrapper .icon-text__single {
      padding-right: 5rem;
      margin-top: 0; }
      .ifx-row-icon_text .icon-text__wrapper .icon-text__single.icon-text__single-4 {
        width: 25%; }
      .ifx-row-icon_text .icon-text__wrapper .icon-text__single.icon-text__single-3 {
        width: 33.33%; }
      .ifx-row-icon_text .icon-text__wrapper .icon-text__single.icon-text__single-2 {
        width: 50%; }
      .ifx-row-icon_text .icon-text__wrapper .icon-text__single.icon-text__single-1 {
        width: 100%; } }
@media (max-width: 991px) {
  .ifx-row-icon_text .icon-text__wrapper h4 {
    font-size: 2.2rem;
    line-height: 1.8rem;
    letter-spacing: 0;
    margin-top: 1.5rem; } }
.ifx-row-tiles .tiles__introduction {
  text-align: center; }
  .ifx-row-tiles .tiles__introduction p {
    color: #69757d; }
    .ifx-row-tiles .tiles__introduction p strong {
      color: #4a90e2; }
.ifx-row-tiles .tile {
  box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  border-radius: 0.8rem;
  padding: 4.8rem 4.4rem;
  background-color: #ffffff;
  margin-bottom: 2.4rem; }
  .ifx-row-tiles .tile h6 {
    margin: 0; }
  .ifx-row-tiles .tile h3 {
    margin-bottom: 1rem; }
  .ifx-row-tiles .tile .tile__image {
    margin-bottom: 1rem; }
    .ifx-row-tiles .tile .tile__image img {
      width: 40px;
      height: 40px;
      object-fit: cover; }

@media (max-width: 991px) {
  .ifx-row-tiles .tiles__wrapper .tile {
    padding: 2.4rem 1.6rem; }
    .ifx-row-tiles .tiles__wrapper .tile h4 {
      font-size: 2.2rem;
      line-height: 1.8rem;
      letter-spacing: 0;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem; } }
@media (max-width: 767px) {
  .ifx-row-tiles .tiles__wrapper .tiles__introduction {
    text-align: left; } }
.ifx-row-faqs {
  background-color: #fafcfe; }
  .ifx-row-faqs .faqs__introduction {
    text-align: center; }
  .ifx-row-faqs .faqs__questions .card {
    margin-bottom: 2.4rem;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
    transition: all 0.5s;
    border-radius: 0.4rem;
    padding: 2.2rem 1.6rem; }
    .ifx-row-faqs .faqs__questions .card .card-header {
      background-color: #ffffff;
      border: none;
      padding: 0; }
      .ifx-row-faqs .faqs__questions .card .card-header a:hover {
        text-decoration: none; }
      .ifx-row-faqs .faqs__questions .card .card-header a h5 {
        margin: 0; }
        .ifx-row-faqs .faqs__questions .card .card-header a h5 img {
          transition: all 0.3s;
          -ms-transform: rotate(-90deg);
          /* IE 9 */
          transform: rotate(-90deg);
          width: 26px; }
      .ifx-row-faqs .faqs__questions .card .card-header a:not(.collapsed) h5 img {
        transition: all 0.3s;
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg); }
    .ifx-row-faqs .faqs__questions .card .card-body {
      padding: 2.2rem 0 0; }
    .ifx-row-faqs .faqs__questions .card.open {
      box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1); }

@media (min-width: 768px) {
  .ifx-row-faqs .faqs__questions .card {
    padding: 2.65rem 3.2rem; } }
.ifx-row-full_screen_parallax .full-screen-parallax__wrapper {
  background-position: center;
  background-attachment: fixed; }

.ifx-row-contact_tiles .contact-tile {
  box-shadow: 0 4px 8px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  background-color: #ffffff;
  padding: 0.8rem;
  border-radius: 0.8rem;
  text-align: center;
  margin-bottom: 2.4rem; }
  .ifx-row-contact_tiles .contact-tile .contact-tile__content {
    padding: 3rem 4.8rem 3rem; }
    .ifx-row-contact_tiles .contact-tile .contact-tile__content .contact-tile__image {
      margin-bottom: 1rem; }
      .ifx-row-contact_tiles .contact-tile .contact-tile__content .contact-tile__image img {
        width: 40px;
        height: 40px;
        object-fit: cover; }
    .ifx-row-contact_tiles .contact-tile .contact-tile__content h6 {
      margin: 0; }
  .ifx-row-contact_tiles .contact-tile .contact-tile__link a.button {
    width: 100%;
    background-color: #fafcfe;
    color: #4a90e2;
    font-size: 1.8rem;
    padding: 1.85rem;
    border-radius: 0 0 0.8rem 0.8rem; }
  .ifx-row-contact_tiles .contact-tile .contact-tile__link a i {
    font-size: 1.5rem;
    margin-left: 0.4rem; }
.ifx-row-contact_tiles .col-12:last-child .contact-tile {
  margin-bottom: 0; }

@media (min-width: 992px) {
  .ifx-row-contact_tiles .contact-tile {
    margin-bottom: 0; } }
@media (min-width: 768px) {
  .ifx-row-contact_tiles .contact-tile .contact-tile__content {
    padding: 4.8rem 4.8rem 4rem; } }
.ifx-row-image_text_overlap .image-text-overlap__wrapper .col-image {
  padding: 0; }
.ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one {
  width: 100%;
  padding: 12rem 0;
  background-size: cover;
  background-position: center; }
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two {
    width: 60.7%;
    margin-right: -52%; }
    .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content {
      margin-right: 1.5rem;
      box-shadow: 0 10px 12px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
      border-radius: 0.6rem;
      background-color: #ffffff;
      padding: 5.4rem 4rem 8rem 6.2rem; }
      .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content .image-text-overlap__introduction {
        margin-bottom: 0; }
        .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content .image-text-overlap__introduction h5 {
          margin-top: 3rem; }
.ifx-row-image_text_overlap .image-text-overlap__wrapper .two-content-mobile {
  margin-top: 5rem; }
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .two-content-mobile .image-text-overlap__introduction {
    margin: 0; }

@media (min-width: 768px) {
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .col-image {
    padding: 0 1.5rem; }
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one {
    width: 75%;
    padding: 6rem 0; }
    .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two {
      width: 100%;
      margin-right: -36%; }
      .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content {
        padding: 4rem; }
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container.rtl {
    direction: rtl; }
    .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container.rtl .one .two {
      margin-left: -33.5%;
      margin-right: auto; }
      .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container.rtl .one .two .two-content {
        direction: ltr; } }
@media (min-width: 992px) {
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one {
    width: 66.4%;
    padding: 6rem 0; }
    .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two {
      width: 60.7%;
      margin-right: -52%; }
      .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content h2 {
        font-size: 2.8rem;
        line-height: 1; }
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container.rtl .one .two {
    margin-left: -50.5%; } }
@media (min-width: 1200px) {
  .ifx-row-image_text_overlap .image-text-overlap__wrapper .image-text-overlap__container .one .two .two-content {
    padding: 5.4rem 4rem 8rem 6.2rem; } }
.ifx-row-purchase_example .purchase-example__single {
  box-shadow: 0 10px 12px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
  margin-bottom: 3rem;
  padding: 2.2rem 3.1rem; }
  .ifx-row-purchase_example .purchase-example__single:last-child {
    background-color: #fafcfe; }
  .ifx-row-purchase_example .purchase-example__single .caps {
    margin: 0; }
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__price {
    text-align: left; }
    .ifx-row-purchase_example .purchase-example__single .purchase-example__single__price h3 {
      margin-top: 1rem; }
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__icon img {
    width: 40px;
    height: 40px; }
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__heading {
    margin: 1.2rem 0; }

@media (min-width: 768px) {
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__price {
    text-align: right; }
    .ifx-row-purchase_example .purchase-example__single .purchase-example__single__price h3 {
      font-size: 1.8rem;
      margin: 0;
      line-height: 1; }
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__heading {
    margin: 0; }
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__text h6 {
    margin: 0; } }
@media (min-width: 1200px) {
  .ifx-row-purchase_example .purchase-example__single .purchase-example__single__price h3 {
    font-size: 3.6rem; }
  .ifx-row-purchase_example .purchase-example__single .caps {
    line-height: 1;
    margin-bottom: 0.5rem; }
  .ifx-row-purchase_example .purchase-example__single h5 {
    margin: 0; } }
.ifx-row-form .form__wrapper .form__single .gform_wrapper {
  margin: 0; }
  .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper {
    display: flex;
    width: 100%;
    flex: 1; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper li {
      width: 114px; }
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper li:first-child {
        display: flex;
        width: auto; }
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper li:first-child .ginput_container {
          width: 114px; }
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper li:first-child:after {
          content: " to ";
          position: relative;
          top: 1.2rem;
          margin: 0 1rem; }
  .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li {
    padding: 0;
    margin: 0 0 2.4rem; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container {
      margin: 0; }
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container input,
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container input[type=text],
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container textarea,
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container select {
        padding: 0;
        margin: 0;
        display: block;
        line-height: 1.65;
        border: 0.1rem solid #d9dcde;
        border-radius: 0.4rem;
        padding: 1.4rem 2rem;
        width: 100%; }
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container input:focus,
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container input[type=text]:focus,
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container textarea:focus,
        .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container select:focus {
          border: 0.1rem solid #69757d;
          outline: none; }
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .ginput_container select {
        color: #69757d;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-image: url("/wp-content/themes/tf-ifx-2021/img/angle-down.svg");
        background-position: 98% center;
        background-repeat: no-repeat;
        outline: none;
        background-size: 25px; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li:last-child {
      margin: 0 0 4rem; }
      .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li:last-child.field_description_below {
        margin: 0 0 3.3rem; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul li .gfield_description {
      font-size: 1.6rem;
      padding: 0;
      margin: 2rem 0 0; }
  .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_footer input[type=submit] {
      min-width: 208px; }

@media (min-width: 768px) {
  .ifx-row-form .form__wrapper .form__single {
    box-shadow: 0 24px 30px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
    padding: 6.4rem 6rem; } }
@media (min-width: 1200px) {
  .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper {
    display: flex; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .ifx-sub-wrapper {
      margin-left: 2.2rem; }
    .ifx-row-form .form__wrapper .form__single .gform_wrapper .gform_body ul .ifx-wrapper .size-50 {
      width: 50%; } }
.ifx-row-table {
  background-color: #fafcfe; }
  .ifx-row-table .table__wrapper .table__single {
    box-shadow: 0 4px 8px 0 rgba(51, 91, 130, 0.12), 0 0 1px 0 rgba(10, 31, 68, 0.1);
    border-radius: 0.8rem; }
    .ifx-row-table .table__wrapper .table__single a .table__row {
      box-shadow: inset 0 -1px 0 0 #f7f8f8;
      padding: 1.2rem 1.5rem;
      background-color: transparent; }
      .ifx-row-table .table__wrapper .table__single a .table__row .row {
        position: relative; }
        .ifx-row-table .table__wrapper .table__single a .table__row .row h6 {
          margin: 0; }
          .ifx-row-table .table__wrapper .table__single a .table__row .row h6.col2 {
            color: #69757d; }
        .ifx-row-table .table__wrapper .table__single a .table__row .row i {
          color: #3b7cdb;
          float: right; }
        .ifx-row-table .table__wrapper .table__single a .table__row .row .arrow-col {
          position: absolute; }
    .ifx-row-table .table__wrapper .table__single a:hover {
      text-decoration: none; }
      .ifx-row-table .table__wrapper .table__single a:hover .table__row {
        background-color: #f7f8f8; }

@media (min-width: 768px) {
  .ifx-row-table .table__wrapper .table__single a .table__row {
    padding: 2.3rem 3.2rem; }
    .ifx-row-table .table__wrapper .table__single a .table__row .row .arrow-col {
      position: relative; }
    .ifx-row-table .table__wrapper .table__single a .table__row .row h6.col2 {
      color: #2a3a46; }
      .ifx-row-table .table__wrapper .table__single a .table__row .row h6.col2 span {
        display: none; } }
.ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content {
  margin-top: 2rem; }
  .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content h2 {
    margin-bottom: 2.5rem; }
  .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content .caps {
    margin-bottom: 1rem; }
.ifx-row-controls_carousel .controls-carousel__wrapper .glide__bullets {
  position: relative;
  bottom: 0; }

@media (min-width: 768px) {
  .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide {
    background-color: #fafcfe; }
    .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content {
      margin-top: 0;
      padding: 3rem 0; }
      .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content h2 {
        margin-bottom: 2.5rem; }
      .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content .caps {
        margin-bottom: 1rem; }
    .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__image {
      padding: 0 2.5rem; }
  .ifx-row-controls_carousel .controls-carousel__wrapper .slide-controls {
    margin-bottom: 3rem; } }
@media (min-width: 992px) {
  .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content {
    margin-top: 0; }
    .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content h2 {
      margin-bottom: 4.5rem; }
    .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__content .caps {
      margin-bottom: 1rem; }
  .ifx-row-controls_carousel .controls-carousel__wrapper .glide__slides .glide__slide .slide__image {
    padding: 0 7.5rem;
    position: relative;
    top: 5rem; } }
.ifx-row-directors {
  background-color: #fafcfe; }
  .ifx-row-directors .directors__wrapper .directors__introduction {
    text-align: center; }
  .ifx-row-directors .directors__wrapper .director-single {
    margin-bottom: 9rem; }
    .ifx-row-directors .directors__wrapper .director-single img {
      height: 342px;
      object-fit: cover; }
    .ifx-row-directors .directors__wrapper .director-single h4 {
      margin-top: 2.4rem; }

@media (max-width: 991px) {
  .ifx-row-directors .directors__wrapper .director-single {
    margin-bottom: 4rem; }
    .ifx-row-directors .directors__wrapper .director-single h4 {
      font-size: 2.2rem;
      line-height: 1.8rem;
      letter-spacing: 0;
      margin-bottom: 1.2rem; } }

/*# sourceMappingURL=ifx-2021.css.map */
